---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import { getLangFromUrl } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const htmlLang = lang === "zh" ? "zh-CN" : "en-US";
import SEO from "@/components/SEO.astro";
import FloatingActions from "@/components/FloatingActions.astro";
import Spinner from "@/components/Spinner.astro";

const {
	pageTitle,
	description = "在这里，发现更多（雾）欢迎来到三叶的博客🥳",
	image,
} = Astro.props;
---

<!doctype html>
<html lang={htmlLang}>
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEO title={pageTitle} description={description} image={image} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<FloatingActions />

	<body>
		<Header />
		<Spinner />
		<main
			class="page-content"
			transition:animate={fade({ duration: "0.05s" })}
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
